@media (max-width: 1750px) {
  .container-ctm {
    max-width: 1320px;
  }
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1440px) {
  .container-ctm {
    max-width: 1140px;
  }
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
  .container-ctm {
    max-width: 960px;
  }
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container-ctm {
    max-width: 720px;
  }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .container-ctm {
    max-width: 540px;
  }

  #header .container-ctm .btn-ctm {
    display: none;
  }

  #banner .hd1 {
    text-align: center;
  }
  #banner .left .bnr-decoration {
    max-width: 100%;
  }
  #banner .left .bnr-p-txt {
    text-align: center;
  }
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .container-ctm {
    max-width: 100%;
  }
}
