* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* color  **************************************/

  --blue: #28166f;
  --blue-light: #74c4ef;
  --grey-dark: #242424;
  --heading-color: #050505;
  --body-txt-color: #0a0449;
  --btn-txt-color: #171717;
  --card-txt-color: #706e87;
  --bg-blue: rgba(119, 198, 241, 0.1);
  --border-color: #d9d9d9;
  --white: #ffffff;
  --black: #000000;
  --gradient-color: linear-gradient(
    90deg,
    rgba(40, 22, 111, 1) 0%,
    rgba(117, 197, 240, 1) 100%
  );

  /* font family  ***********************************/

  --fontfamily1: "Raleway", sans-serif;
  --fontfamily2: "Urbanist", sans-serif;
  --fontfamily3: "Roboto", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

p {
  margin-bottom: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
  /* height: auto; */
}
ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

/* custom variables ************************************************** */

.container-ctm {
  width: 100%;
  max-width: 1678px;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.spl-txt {
  color: #281670;
  background-image: linear-gradient(90deg, #281670, #75c5f0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hd1 {
  font-family: var(--fontfamily2);
  font-size: clamp(1.875rem, -0.208rem + 5.787vw, 5rem);
  /* scale between 30px at 576px and 80px at 1440px */
  font-weight: 700;
  text-transform: capitalize;
  color: var(--heading-color);
}

.hd2 {
  font-family: var(--fontfamily2);
  font-size: clamp(1.5rem, -0.2885rem + 4.9679vw, 3.4375rem);
  font-weight: 700;
  text-transform: capitalize;
  color: var(--heading-color);
}

.hd3 {
  font-family: var(--fontfamily2);
  font-size: clamp(1.5rem, 0.4615rem + 2.8846vw, 2.625rem);
  font-weight: 800;
  text-transform: capitalize;
  color: #262424;
}

.hd4 {
  font-family: var(--fontfamily1);
  font-size: clamp(
    1.125rem,
    0.958rem + 0.463vw,
    1.375rem
  ); /* scale between 18px at 576px and 22px at 1440px. */
  font-weight: 600;
  text-transform: capitalize;
  color: var(--body-txt-color);
}

.hd5 {
  font-family: var(--fontfamily1);
  font-size: clamp(1.125rem, 0.875rem + 0.694vw, 1.5rem);
  /* scale between 18px at 576px and 24px at 1440px. */
  font-weight: 700;
  text-transform: capitalize;
  color: var(--blue);
  margin-bottom: 25px;
}

/* header ********************************************** */

#header {
  border-bottom: 1px solid rgba(228, 228, 228, 0.64);
  background: #fff;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.08);
  z-index: 2;
}

#header .container-ctm {
  padding-top: 15px;
  padding-bottom: 15px;
}

#header .container-ctm .logo img {
  width: clamp(6.25rem, 3.3654rem + 8.0128vw, 9.375rem);
}

#header .container-ctm .btn-ctm button {
  width: 140px;
  padding: 14px 0px;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(
    to right,
    #28166f 0%,
    #75c5f0 51%,
    #28166f 100%
  );
  text-align: center;
  color: var(--white);
  transition: 0.5s;
  background-size: 200% auto;
  display: block;
  font-family: var(--fontfamily1);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

#header .container-ctm .btn-ctm button:hover {
  background-position: right center;
}

/* banner **************************************************** */

#banner {
  /* height: 90vh; */
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 80%,
      rgba(255, 255, 255, 1) 100%
    ),
    url(../../image/bnr-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#banner .container-ctm {
  padding-top: 100px;
  padding-bottom: 100px;
}

#banner .left .bnr-decoration {
  background-image: var(--gradient-color);
  max-width: 70%;
  height: 2px;
  display: block;
}

#banner .left .bnr-p-txt {
  color: var(--body-txt-color);
  font-family: var(--fontfamily1);
  font-size: clamp(1rem, 0.75rem + 0.694vw, 1.375rem);
  /* scale between 16px at 576px and 22px at 1440px */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#banner .right img {
  max-width: 100%;
  height: auto;
}

#banner .left ul {
  list-style-image: url(../../image/bullet.webp);
}

#banner .left ul li {
  color: var(--body-txt-color);
  font-family: var(--fontfamily1);
  font-size: clamp(1rem, 0.75rem + 0.694vw, 1.375rem);
  /* scale between 16px at 576px and 22px at 1440px */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 10px;
}

.spl-btn {
  text-decoration: none;
  color: #171717;
  font-family: var(--fontfamily1);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 12px 64px 12px 32px;
  border-radius: 22px;
  position: relative;
  background-color: var(--white);
  z-index: 3;
}

.spl-btn::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: 22px;
  background-image: linear-gradient(
    to right,
    #28166f 0%,
    #75c5f0 51%,
    #28166f 100%
  );
  z-index: -1;
  background-size: 200% auto;
  border-radius: 24px;
  transition: 0.5s;
}

.spl-btn::after {
  content: "\f178";
  font-family: "Font Awesome 6 Free";
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  color: #171717;
}

.spl-btn:hover {
  color: #171717;
}

.spl-btn:hover::before {
  background-position: right center;
}

/* about ***************************************** */
#about {
  margin-top: 100px;
  margin-bottom: 100px;
}

#about .container-ctm > div {
  padding: 200px 60px;
  background-color: var(--bg-blue);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}

#about .container-ctm .right p {
  font-family: var(--fontfamily1);
  font-size: clamp(1rem, 0.077rem + 1.442vw, 1.375rem);
  font-style: normal;
  font-weight: 500;
  color: var(--body-txt-color);
}

/* values ******************************************* */
#values {
  margin-top: 100px;
  margin-bottom: 100px;
}

#values .container-ctm > div {
  padding: 100px 60px;
  background-color: var(--bg-blue);
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
}

#values .container-ctm div.top h2 {
  max-width: 600px;
  margin-top: -70px;
}

#values div.bottom {
  margin-top: -100px;
}

#values div.bottom .card {
  position: relative;
}

#values div.bottom .card p {
  color: #706e87;
  text-align: center;
  font-family: var(--fontfamily1);
  font-size: clamp(1rem, 0.917rem + 0.231vw, 1.125rem);
  /* scale between 16px at 576px and 18px at 1440px */
  font-style: normal;
  font-weight: 600;
}
#values div.bottom .card-ctm {
  position: relative;
}
#values div.bottom .card1 > .arrow {
  position: absolute;
  top: 0px;
  right: -127px;
}

#values div.bottom .card2 {
  margin-bottom: 70px;
}
#values div.bottom .card2 > .arrow {
  position: absolute;
  top: 70px;
  right: -127px;
}
#values div.bottom .card3 {
  margin-bottom: 80px;
}
#values div.bottom .card3 > .arrow {
  position: absolute;
  top: -54px;
  right: -127px;
}
#values div.bottom .card4 {
  margin-bottom: 200px;
}

/* testimonial******************************************************* */
#testimonial {
  margin-top: 100px;
  margin-bottom: 100px;
}

#testimonial .top > p {
  max-width: 80%;
}

#testimonial .bottom .company-logo {
  height: 250px;
}
#testimonial .bottom > div {
  padding: 0px 30px;
}
#testimonial .bottom .card-ctm {
  border-radius: 10px;
  border: 1px solid #bbe7ff;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(108, 178, 225, 0.28),
    0px 1px 3px 1px rgba(108, 178, 225, 0.15);
  padding: 30px;
}

#testimonial .bottom .card-ctm .num {
  color: #0a96e2;
  font-family: var(--fontfamily1);
  font-size: clamp(1.875rem, 0.708rem + 3.241vw, 3.625rem);
  /* scale between 30px at 576px and 58px at 1440px. */
  font-style: normal;
  font-weight: 700;
}

#testimonial .bottom .card-ctm .card-txt {
  color: #64717c;
  font-family: var(--fontfamily1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/* package *********************************************** */

#package {
  margin-top: 100px;
  margin-bottom: 100px;
}
#package .bottom {
  margin-top: 100px;
}

#package .bottom .card-wrap {
  padding: 12px;
}

#package .bottom .card-ctm {
  padding: 60px 30px;
  border-radius: 10px;
  border: 1px solid #bbe7ff;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(108, 178, 225, 0.28),
    0px 1px 3px 1px rgba(108, 178, 225, 0.15);
  height: 100%;
}

#package .bottom .card-ctm .card-txt {
  color: #7a7d9c;
  text-align: center;
  font-family: var(--fontfamily1);
  font-size: clamp(1rem, 0.875rem + 0.347vw, 1.188rem);
  /* scale between 16px at 576px and 19px at 1440px */
  font-weight: 600;
}

/* contact ************************************************** */

#contact {
  margin-top: 100px;
  margin-bottom: 100px;
}

#contact .container-ctm > .contact-cta {
  max-width: 1400px;
  border-radius: 10px;
  background: var(--gradient-color);
  padding: 70px;
  margin: 0px auto;
  row-gap: 30px;
}

#contact .container-ctm > .contact-cta .left {
  flex-basis: 60%;
}

#contact .container-ctm > .contact-cta .left > p {
  color: var(--white);
  font-family: var(--fontfamily2);
  font-weight: 800;
}
#contact .container-ctm > .contact-cta .right a {
  text-decoration: none;
  color: var(--white);
  background: var(--black);
  column-gap: 60px;
  padding: 15px 30px;
  border-radius: 50px;
}

#contact .container-ctm > .contact-cta .right a {
  color: #fff;
  font-family: var(--fontfamily2);
  font-size: clamp(1rem, 0.667rem + 0.926vw, 1.5rem);
  /* scale between 16px at 576px and 24px at 1440px */
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* footer **************************************************** */

#footer {
  background: #edf5ff;
}
#footer .container-ctm {
  padding-top: 100px;
  padding-bottom: 50px;
}

#footer .container-ctm .footer-col-1 p {
  color: var(--black);
  font-family: var(--fontfamily1);
  font-size: clamp(1rem, 0.917rem + 0.231vw, 1.125rem);
  /* scale between 16px at 576px and 18px at 1440px. */
  font-style: normal;
  font-weight: 500;
  margin-top: 45px;
}
#footer .container-ctm .footer-col-2 ul li,
#footer .container-ctm .footer-col-3 ul li,
#footer .container-ctm .footer-col-4 ul li {
  margin-bottom: 20px;
}

#footer .container-ctm .footer-col-2 ul li a,
#footer .container-ctm .footer-col-3 ul li a,
#footer .container-ctm .footer-col-4 ul li a {
  color: rgba(0, 0, 0, 0.7);
  font-family: var(--fontfamily1);
  font-size: clamp(1rem, 0.917rem + 0.231vw, 1.125rem);
  /* scale between 16px at 576px and 18px at 1440px. */
  font-weight: 500;
}

#footer .container-ctm .footer-col-5 ul li a .fa-instagram,
#footer .container-ctm .footer-col-5 ul li a .fa-figma {
  color: var(--blue);
  font-size: 25px;
}

#footer .container-ctm .footer-col-5 ul li a .fa-gitlab,
#footer .container-ctm .footer-col-5 ul li a .fa-github,
#footer .container-ctm .footer-col-5 ul li a .fa-telegram,
#footer .container-ctm .footer-col-5 ul li a .fa-facebook-f {
  color: black;
  -webkit-text-fill-color: rgba(
    0,
    0,
    0,
    0
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--blue);
  font-size: 25px;
}

.parallax > use {
  animation: move-forever 20s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
  &:nth-child(2) {
    animation-delay: -2s;
    animation-duration: 10s;
  }
  &:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 5s;
  }
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
